.bannerContainer {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  padding: 0.6rem;
}

.bannerText {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
}

/* Keyframes for marquee effect */
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.text{
@apply px-2  sm:text-sm sm:px-2  text-sm  md:text-xl md:px-4
}